body {
    text-align: center;
    background-color: grey;
}

.container {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
}

.home{
    margin: 10px;
    width: 95%;
}

.comida{
    background-color: rgb(230, 230, 230);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.pratos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.acompanhamentos{
    background-color: rgb(230, 230, 230);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.card{
    background-color: white;
    padding: 7px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.dinheiro{
    color: green;
}

.dados{
    background-color: rgb(230, 230, 230);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

input{
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 500px;
}

.calcular{
    background-color: blue;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    width: 500px;
}

.resultados{
    text-align: left;
    padding: 10px;
}

.quantidade-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.quantidade-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.quantidade-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
}