body {
    text-align: center;
    background-color: grey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    max-width: 900px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.home {
    margin: 10px;
    width: 100%;
    max-width: 600px;
}

.comida, .acompanhamentos, .dados {
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.pratos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.dinheiro {
    color: green;
    font-weight: bold;
}

input, .calcular {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    padding: 5px;
}

.calcular {
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.calcular:hover {
    background-color: darkblue;
}

.resultados {
    text-align: left;
    padding: 10px;
}

.quantidade-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantidade-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightgray;
}

.quantidade-button:hover {
    background-color: gray;
    color: white;
}

.quantidade-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
        margin-bottom: 200px;
    }

    .pratos {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 300px;
    }

    input, .calcular {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .quantidade-container {
        flex-direction: column;
    }

    .quantidade-button {
        width: 100%;
        margin-bottom: 5px;
    }

    .quantidade-input {
        width: 100%;
    }
}
